@font-face {
  font-family: "iconfont"; /* Project id 2479698 */
  src: url("iconfont.woff2?t=1653641156694") format("woff2"),
    url("iconfont.woff?t=1653641156694") format("woff"),
    url("iconfont.ttf?t=1653641156694") format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconshangjiantou:before {
  content: "\e61d";
}

.iconsousuo:before {
  content: "\e67d";
}

.iconxiajiantou_huaban:before {
  content: "\e63d";
}

.iconiconfontjiantou2:before {
  content: "\e632";
}
