a {
  width: 200px !important;
  height: 200px;
  color: #eee; }
  a:hover {
    color: #f90; }
  a.active {
    color: #f8f; }

h1 {
  width: 300px;
  color: #eee; }
  h1:hover {
    color: #f90; }
  h1.active {
    color: #f8f; }
